.App {
  text-align: center;
  background-color: rgb(235, 225, 225);
  font-family: 'Courier New', Courier, monospace;
  padding: 2em 12em 12em;
}

.home-img{
  width: 38rem;
}

.login-img{
  width: 16rem;
}

.register-img{
  width: 28rem;
}

.text-1{
  font-size: larger;
}

.form{
 padding: 2rem 25rem;
}

p{
  font-weight: 800;
}

.link{
  text-decoration: none;
}

.Task {
  color:rgb(219, 27, 27)
}

.task-item{
background-color: rgb(152, 204, 228);
}

.project-name{
  padding: 2rem 2rem 2rem;
}

.btn-feature{
margin: 2rem 0.5rem 0.5rem;
}

.project-form{
  padding-top: 5rem;
}
