.App {
  text-align: center;
}

.home-img{
  width: 38rem;
}

.login-img{
  width: 16rem;
}

.register-img{
  width: 28rem;
}

.text-1{
  font-size: larger;
}

.form{
 padding: 2rem 25rem;
}

p{
  font-weight: 800;
}

.link{
  text-decoration: none;
}
